.collapse {
    .collapseTitle {
        position: relative;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        padding: 1vh 2vw;
        background-color: $color-red;
        border-radius: 5px;
        color: $color-white;
        font-size: 18px;
    }

    .collapseContent {
        margin-top: -1vh;
        background-color: $color-background;
        border-radius: 0 0 5px 5px;
        color: $color-red;
        font-size: 24px;
        font-weight: 400;

        ul {
            list-style-type: none;
            padding: 2vh 2vw;
        }

        li {
            list-style-type: none;
        }
    }

    .arrows {
        text-align: center;
        width: 30px;
        height: 20px;
    }
}

.description {
    li {
        padding: 2vh 2vw;
    }

}

@media screen and (max-width: 768px) {
    .collapse {
        .collapseTitle {
            font-size: 13px;
        }

        .collapseContent {
            font-size: 12px;
        }
    }
}