.footer {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    align-items: center;
    align-content: center;
    background-color: black;
    height: 24vh;
    margin-top: 4vh;
    color: $color-white;

    img {
        padding-top: 8vh;
    }
}
