.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 41.5vh;
    border-radius: 25px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        object-fit: cover;
    }

    button {
        background-color: transparent;
        border: transparent;
    }

    .slideBtn {
        position: absolute;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 85%;
    }

    .counterImg {
        position: absolute;
        align-self: flex-end;
        margin-bottom: 2vh;
        color: $color-white;
        font-size: 2vw;
    }
}

@media screen and (max-width: 768px) {
    .slider {
        height: 80vw;
        border-radius: 10px;
    }
}