.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
    width: 100%;
    height: 41.5vh;
    border-radius: 25px;
    border: solid 1px red;
    
    img {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        object-fit: cover;
    }
    
    button {
        background-color: transparent;
        border: solid 1px red;
    }

    .slideBtn {
        position: absolute;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
        padding-left: 6vh;
        padding-right: 6vh;
    }
    .counterImg{
        color: red;
        border: solid 1px red;
        height: 5vh;
        width: 3vw;
        margin-right: 20vw;
    }
}

@media screen and (max-width: 768px) {
    .slider {
        height: 80vw;
      border-radius: 10px;
    }
}