.tagsBloc {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    font-weight: 500;
    font-size: 14px;

    .tags {
        text-align: center;
        color: $color-white;
        background-color: $color-red;
        border-radius: 10px;
        height: 2.8vh;
        width: 100%;
    }
}