.error {
    color: $color-red;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-size: 18px;

    .code {
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
    }

    .link-to-home {
        text-decoration: underline;
        color: $color-red;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
    }
}