.aboutBanner {
    img {
        object-fit: cover;
        border-radius: 25px;
        width: 100%;
        height: 15vw;
        filter: brightness(75%);
    }

}

.aboutCollapses {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

@media screen and (max-width: 768px) {
    .aboutBanner {
        img {
            object-fit: cover;
            height: 25.5vh;
        }
    }
}