.informations {
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
    gap: 10%;
    color: $color-red;

    .rentalInfo {
        h3 {
            font-size: 3.1vh;
            font-weight: 500;
            color: $color-red;
        }

        p {
            font-size: 2vh;
        }
    }
}

.host {
    display: flex;
    justify-content: flex-end;
    ;
    gap: 5%;
    text-align: right;
}

.renterInfo {
    margin-top: 2vh;

    .hostImg {
        width: 64px;

        img {
            border-radius: 50%;
            width: 64px;
        }
    }

    .ratingStars {
        display: flex;
        gap: 1vw;
        width: 100%;
    }

    .star {
        width: 30px;
        height: 30px;
    }
}

.rentalCollapse {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin-top: 2vh;

    .description {
        width: 50%;
    }

    .equipments {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {

    .informations {
        flex-direction: column;

        .renterInfo {
            display: flex;
            flex-direction: row-reverse;

            .host {
                width: 30%;
            }
        }
        .ratingStars {
            align-items: center;
        }
        .star {
            width: 20px;
            height: 20px;
        }

    }

    .rentalCollapse {
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        width: 100%;
        gap: 2vh;
    }

    .description {
        min-width: 100%;
    }

    .equipments {
        min-width: 100%;
    }
}

@media screen and (max-width: 412px) {
    .ratingStars {
        .star {
            width: 15px;
            height: 15px;
        }
    }

}