.informations {
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
    gap: 10%;
    color: $color-red;
    .rentalInfo {
        h3 {
            font-size: 3.1vh;
            font-weight: 500;
            color: $color-red;
        }
        p {
            // margin-top: 1vh;
            font-size: 2vh;
        }

    }
}

.renterInfo {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: repeat(2, 1fr);

    // grid-row-gap: 10px;
    .host {
        display: grid;
        grid-area: 1 / 1 / 2 / 2;
        font-size: 18px;

        p {
            text-align: right;
        }
    }

    .hostImg {
        grid-area: 1 / 2 / 2 / 3;
        margin-left: 2.5vw;

        img {
            border-radius: 50%;
            width: 64px;
        }
    }

    .ratingStars {
        margin-top: 2vh;
        width: 100%;
        grid-area: 2 / 1 / 3 / 3;
        gap: 1vw;
        display: flex;
        flex-direction: row;
    }

    .star {
        width: 30px;
        height: 30px;
    }
}

// .parent {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-template-rows: repeat(2, 1fr);
//     grid-column-gap: 0px;
//     grid-row-gap: 0px;
//     }

//     .div1 { grid-area: 1 / 1 / 2 / 2; }
//     .div2 { grid-area: 1 / 2 / 2 / 3; }
//     .div3 { grid-area: 2 / 2 / 3 / 3; }